<VirtualHost *:80>
    DocumentRoot "/var/www/xhgui/webroot/"
    ServerName xhgui.local
    ServerAlias{% for vhost in virtual_hosts %} prof.{{vhost}}{% endfor %}

    ErrorLog "/var/log/apache2/xhgui.localhost-error.log"
    CustomLog "/var/log/apache2/xhgui.localhost-access.log" combined

    <Directory "/var/www/xhgui/">
        Options Indexes FollowSymLinks MultiViews
        AllowOverride all
        Order allow,deny
        allow from all
    </Directory>

</VirtualHost>
